# Игнорировать файлы, заканчивающиеся на .DS_Store (файлы метаданных macOS)
.DS_Store

# Игнорировать папку node_modules (если используется Node.js)
node_modules/

# Игнорировать временные файлы или папки
.tmp/
.temp/
*.tmp
*.log

# Игнорировать файлы с настройками проекта, содержащие личные данные
.env
config.js

# Игнорировать файлы, содержащие пароли или ключи
secrets.txt
*.key

# Игнорировать папку, содержащую скомпилированные файлы (например, папку "build" или "dist")
/build/
/dist/

# Игнорировать файлы, генерируемые IDE или редакторами кода
.idea/
.vscode/

# Игнорировать временные файлы, созданные текстовыми редакторами
*.swp
*~

# Игнорировать файлы журналов или дампы памяти
*.log
*.dump
